/* Overall Section */
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
.sctn {
  position:relative;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Anta;
}